/*CSS file*/
.my-class{
    background-color: lavenderblush;
}
/*Editing Title*/
.title {
    position: fixed;
    font-size: 15px;
    text-align:center;
}
/*Editing Box*/
.box {
    width: 100%;
    height: 40px;
    padding: 1rem;
    border: 5px solid #333;
    margin-top: 2rem;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-left: auto;
}
.attend {
    display: grid;
}
.box-block {
    display: block;
}
.box-inline-block {
    display: inline-block;
}
body {
    margin-left: 100px;
    margin-right: 100px;
}
/*Editing SubTitles*/
#meeting,
#agenda,
#unfinishedbusiness,
#newbusiness,
#miscellaneous,
#form{
    color: rgb(100, 11, 11);
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
}

p {
    color: hsl(210, 50%, 50%);
  }
h3 {
    color: #999;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 5px;
}
li {
    margin-bottom: 5px;
}
/*Media formatting*/
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}
video {
    max-width: 75%;
    display: block;
    margin: 20px auto;
}
audio {
    display: block;
    margin: 20px auto;
}
button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #3e8e41;
 }
h1 + p {
    margin-top: 20px;
}
ul > li {
    font-style: italic;
}